@model ComicBookGalerry.Models.ComicBook[]

@{
    ViewBag.Title = "Comic Books";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <div class="well">
            <p>Welcome, in my first Web MVC Aplicationion created via MVC in Visual Studio. This site is hosted by Azure Microsoft using Frree Plan Paypment. Don't care about capacity, there is 1GB usage trasfer. <br /> Check out the ComicBooks in this section</p>
        </div>
    </div>
</div>


@Html.Partial("_ComicBooksList", Model)
